<ul>
    {% for user in users %}
        {# @var user \AppBundle\Entity\User #}
        <li>
            <a class="user_history" href="{{ user.username }}">{{ user.username }}
                <img src="http://localhost/tbws/web/assets/img/avatar/{{ user.avatar | default("default.jpg") }}">
            </a>
        </li>
    {% endfor %}
</ul>