<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Login Page</title>
</head>
<body>
<form action="{{ path('login_check') }}" method="post">
    {% if error != null %}
        {{ error.message }}
    {% endif %}
    <input type="text" name="_username" value="{{ username }}">
    <input type="password" name="_password">
    <input type="submit">
</form>
</body>
</html>