{% extends "base.html.twig" %}
{% block body %}
    <div id="users">

    </div>

    <div id="messages">

    </div>

    <input id="message" type="text">
    <button id="send">Envoyer</button>
{% endblock %}

{% block javascripts %}
    <script>
        $(document).ready(function(){
            let token = "{{ token }}";
            let dest;
            let conn = new WebSocket("ws://localhost:8080/");
            conn.onopen = function(e){
                //ce qui passe apres la connection
                //je m'idendentifie
                //methode qui prend un string en paramètre
                conn.send(JSON.stringify({
                    "path": "/login",
                    "token" : token
                }));
                $("#send").click(function(){
                    //envoyer un nouveau message
                    let data = JSON.stringify({
                        "path": "/newMessage",
                        "token": token,
                        "message": $("#message").val(),
                        "dest": dest
                    });
                    conn.send(data);
                });
            };
            conn.onmessage = function(e){
                //ce qui se passe à la réception d'un message
                let data = JSON.parse(e.data);
                console.log(data);
                switch(data.action){
                    case "refresh_users":
                        $("#users").html(data.view);
                        break;
                    case "refresh_messages":
                        $("#messages").html(data.view);
                        break;
                    case "message_received":
                        if(data.from == dest){
                            $("#messages").html(data.view);
                        }
                        else{
                            alert("new message from " + data.from);
                        }
                        break;
                }
            };
            $("#users").on("click", ".user_history",function(e){
                e.preventDefault();
                dest = $(this).attr("href");
                conn.send(JSON.stringify({
                    "path": "/history",
                    "token" : token,
                    "dest" : $(this).attr("href")
                }));
            });

        });
    </script>
{% endblock %}


