{% for message in messages %}
    {# @var message \AppBundle\Entity\Message #}
    {% if message.author.username == username %}
        <p>{{ message.author.username }} : {{ message.content }}</p>
    {% else %}
        <p><strong>{{ message.author.username }} : {{ message.content }}</strong></p>
    {% endif %}

{% endfor %}