{{ form_start(form) }}
{{ form_rest(form) }}
<button>Submit</button>
{{ form_end(form) }}
{#{{ maMacro('Khun') }}#}


{#{% macro maMacro(message) %}#}
    {#<div>#}
        {#<p>#}
            {#<li>{{ message }}</li>#}
        {#</p>#}
    {#</div>#}
{#{% endmacro %}#}